<link rel="stylesheet" href="/css/_footer.css">
<footer class="footer">
    <div class="actions">
      <div class="footer_content">
        <div class="links-footer name">
          <span style="font-size: 18">Created By: Mohammad Adnan Siddiqui  |</span>
        </div>
  
        
      </div>
    </div>
  </footer>
